<!DOCTYPE html>
<html ng-app="widgets" ng-controller="RestaurantCtrl">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Widgets</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <link rel="stylesheet" href="stylesheet.css">

  </head>

  <body>

    <label>Name
      <input name="name" ng-model="name">
    </label>

    <label>Type of Food
      <input name="type-of-food" ng-model="typeOfFood">
    </label>

    <label>Image URL
      <input name="image-url" ng-model="imageURL">
    </label>

    <button ng-click="createRestaurant()">Create Restaurant</button>

    <table ng-cloak>
      <tr>
        <th ng-click="setOrderBy('name')">Name {{ getArrow('name') }}</th>
        <th ng-click="setOrderBy('foodType')">Food Type {{ getArrow('foodType') }}</th>
        <th>Picture</th>
        <th>Delete?</th>
      </tr>
      <tr ng-repeat="restaurant in restaurants | orderBy : ordering | filter : { $: searchTerm }" >
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.foodType }}</td>
        <td><img ng-src="{{ restaurant.image }}"></td>
        <td>
          <button ng-click="deleteRestaurant(restaurant)">Delete</button>
        </td>
      </tr>
    </table>

    <h2>Search Restaurants</h2>
    <input type="text" ng-model="searchTerm">

    <script src="app.js"></script>
    <script src="controllers/restaurant_controller.js"></script>

  </body>

</html>